#bigdiv{
  transform:rotate(180deg);
  position:absolute;
  }

.chart div{
   font-size: 10px;
  background-color: blue;
  padding: 3px;
  margin: 1px;
  width:18px;
  text-align: justify;
  color: white;
}

